@model IEnumerable<OnlineBanking.Models.CheckingAccount>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container-fluid">
    
            <h2>
                @Html.DisplayNameFor(model => model.Account.AccountType)
            </h2>
            <h2>
                @Html.DisplayNameFor(model => model.Deposit)
            </h2>
            <h2>
                @Html.DisplayNameFor(model => model.Withdraw)
            </h2>
            <h2>
                @Html.DisplayNameFor(model => model.CheckingAccountType)
            </h2>
            
</div>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Account.AccountType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deposit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Withdraw)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckingAccountType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CheckingAccountID }) |
            @Html.ActionLink("Details", "Details", new { id = item.CheckingAccountID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CheckingAccountID })
        </td>
    </tr>
}


